/*	Project 01
	Shannon R. Williams
	WSP - May 2015 		*/
	
#contents {
	width: 100%;
	background-color: rgba(153,102,255,.5);
	margin: 0 auto;
	}
	
header {
	width: 100%;
	height: 150px;
	margin: 0 atuo;
	background-color:rgba(204,102,255,.5);
	border: 3px solid rgba(153,51,255,1);
	border-radius: 10px;
	color: #4C494A;
	text-align: center;
	}
	
h1 {
	padding-top: 50px;
	}

#whoAmI {
	width: 700px;
	margin: 10px auto;
	padding: 10px;
	text-align: left;
	border: 3px solid rgba(153,51,255,1);
	border-radius: 10px;
	color: #4C494A;
	}
	
