<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
    <article id="about">
        <h2>About</h2>
        <p >
            The target audience for Bluebird is people who need credit cards but don’t want
            an annual fee or to have a credit check.  The <strong>ABOUT</strong> page clearly states all of
            the features offered by Bluebird.  There is even a short video to help explain more
            about the company. The design is clean and simple.  Nothing fancy or confusing about
            this page which makes the user feel comfortable.  Blues and greens are calming and trustworthy colors.

            <p><img src="../images/about.png" class="medium" alt="Bluebird" /></p>
        </p>
    </article>

    <footer>
        <p id="footer">Shannon R Williams  |  WSP Full Sail  -  May 2015</p>
    </footer>

</body>
</html>