<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Account Info</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

    <article id="account">
        <h2>Account Info</h2>
        <p>
            Amazon.com has a very thourough accounts page.  After the user logs in, a simple mouse over the tab marked account
            will drop down a menu with a lengthy list of options along with items recently purchased in
            case you want to buy them again.  Amazon.com targets online shoppers of all kinds and people looking
            for bargains.  Even though their site includes a tremendous amount of information, it is all very well
            organized using drop downs, which make it easy for the user to navigate.

        <p><img src="images/acctInfo.png" class="large" alt="Amazon.com" /></p>
        </p>
    </article>

</body>
</html>