<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

    <article id="blog">
        <h2>Blog</h2>
        <p>
            This blog is from Crazy for Crusts cooking website.  The blog runs down along the right side of the
            page.  By using colorful pictures, the user is drawn in to reading the comments and posts.  This website
            is geared toward foodies and people who love to cook.  Fun, bright colors are used to emphasize titles and features.

        <p><img src="images/blog.png" class="large" alt="Crazy for Crust" /></p>
        </p>
    </article>

</body>
</html>