<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>

    <article>
        <h2>Contact</h2>
        <p>
            This contacts page comes from my bank.  The users for this site are very specific to be sure.  Only people
            living in middle Tennessee who are looking for a new bank or users who are already members will use this site.
            This is a local bank with only 12 branches in middle Tennessee.  <br>The colors used are bright but relaxing,
            they give the feeling of stability and comfort.  Bright blues and greens represent energy and friendliness.
            This page is found in the navigation bar at the top of the home page.  One click brings the user here.  The
            user does not have to wade through pages of information to a phone number or branch location.

            <p><img src="../images/contact.png" class="medium" alt="Old Hickory Credit Union" title="Old Hickory Credit Union" /></p>
        </p>
    </article>

    <footer>
        <p id="footer">Shannon R Williams  |  WSP Full Sail  -  May 2015</p>
    </footer>

</body>
</html>