<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>C T A</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>

    <article id="cta">
        <h2>Call to Action</h2>
            <p>
                This call to action is from Old Navy.  Talk about straight to the point.  A picture of their featured
                items and sale information with a handy "shop now" link takes you directly to the sale items.  With the
                use of unique fonts of varying sizes and an exciting bright color (red is stimulating, sexy and powerful),
                this CTA takes the user to the exact place Old Navy wants them.  Statistics show that men <strong>AND</strong>
                women make purchases online between the ages of 18 to 24.
                <a href="http://www.businessinsider.com/the-demographics-of-who-shops-online-and-on-mobile-2014-8">(demographics)</a>

                <p>
                    <img src="../images/cta.png" class="medium" alt="Old Navy" />
                </p>

            </p>
    </article>

    <button name="back">back</button>

    <footer>
        <p id="footer">Shannon R Williams  |  WSP Full Sail</p>
    </footer>

</body>
</html>