<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>

    <article id="footers">
        <h2>Footer</h2>
        <p>
            This footer comes from Amazon.com.  There is a lot of information here.  Bright orange is used on headings
            to show hierarchy.  Orange is energizing, friendly and loud which makes this stand out.  Users that scroll
            down to this footer are in need of very specific information, something that can not be found in the contents
            of the page or the normal navigation bar.  The footer has global information, career information as well as
            links for people who want to invest, advertise, become an affiliate or sell items.  Amazon used clean lines
            and grids to list the information so it would be easy to find for the user.

            <p><img src="../images/footer.png" class="medium" alt="Amazon.com" /></p>
        </p>
    </article>

    <footer>
        <p id="footer">Shannon R Williams  |  WSP Full Sail  -  May 2015</p>
    </footer>

</body>
</html>