<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Header</title>
    
</head>
<body>

	<header>
		<section>
			<p>
				<img src='../images/crust.png' alt='logo for crazy for crust website' width='300' height='200'>	
			</p>
			<nav>
				<ul>
					<li>Facebook</li>
					<li>Pintresst</li>
					<li>Twitter</li>
					<li>Favorites</li>
				</ul>
			</nav>
			
			
			<nav>
				<ul>
					<li>Home</li>
					<li>About</li>
					<li>Recipes</li>
					<li>Featured</li>
					<li>Contact</li>
					<li>FAQ</li>
				</ul>
				
				<form>
					<input type='text' placeholder='looking for something?' >
					<input type='submit' value='Search' >
				</form>
			</nav>
		</section>
	</header>
	


</body>
</html>