<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>

    <article id="headers">
        <h2>Header</h2>
        <p>
            This is an image from a cooking and recipe website. The social media banner at the top immediately grabs the
            user's attention by using colors that make you feel:
            <ul>
                <li>light blue - peaceful, calm</li>
                <li>bright blue - happy, energetic</li>
                <li>bright pink -  happy, fun, energetic</li>
                <li>bright green -  trendy, lively</li>
                <li>yellow - cheerful, friendly</li>
                <li>purple - sweet tasting, nostalgic</li>

            </ul>

            This is the pallet of the whole site, colorful and happy.  Users that come to this site are mostly women and
            the colors chosen reflect that.

            <p><img src="../images/head01.png" class="medium" alt="Crazy for Crust" /></p>

        </p>
    </article>

    <footer>
        <p id="footer">Shannon R Williams  |  WSP Full Sail  -  May 2015</p>
    </footer>

</body>
</html>