<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>

    <article id="register">
        <h2>Registration</h2>
        <p>
            Best Buy has a very easy registration page.  A light blue box makes some information more important
            so the user will pay attention to it.  This info makes it easier to sign up if the user has already
            joined the My Best Buy club or applied for a credit card.  The website will pull the rest of the user’s
            info from that database.  More blue is used…

        <p><img src="../images/register.png" class="large" alt="Best Buy" /></p>
        </p>
    </article>

    <footer>
        <p id="footer">Shannon R Williams  |  WSP Full Sail  -  May 2015</p>
    </footer>

</body>
</html>